body.dark-theme {
  --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px rgba(0, 0, 0, 0.15);
  --shadow-3xl: 0 35px 60px rgba(0, 0, 0, 0.2);
  --shadow-outer-sm: inset 0 1px 2px #ffffff30,
    0 1px 2px #00000030,
    0 2px 4px #00000015;
  --shadow-outer-md: inset 0 1px 2px #ffffff50,
    0 2px 4px #00000030,
    0 4px 8px #00000015;
  --shadow-outer-lg: inset 0 1px 2px #ffffff70,
    0 4px 6px #00000030,
    0 6px 10px #00000015;
  --shadow-outer-xl: inset 0 1px 2px #ffffff90,
    0 6px 8px #00000030,
    0 8px 12px #00000015;
  --shadow-outer-xxl: inset 0 1px 2px #ffffffB0,
    0 8px 10px #00000030,
    0 10px 14px #00000015;
  --shadow-outer-xxl-2: inset 0 1px 2px #ffffffD0,
    0 10px 12px #00000030,
    0 12px 16px #00000015;
  --shadow-outer-primary-sm: inset 0 1px 2px #404040,
    0 1px 2px #171717,
    0 2px 4px #0a0a0a;
  --shadow-outer-primary-md: inset 0 1px 2px #525252,
    0 2px 4px #171717,
    0 4px 8px #0a0a0a;
  --shadow-outer-primary-lg: inset 0 1px 2px rgb(82, 82, 82) 0 4px 6px #171717,
    0 6px 10px #0a0a0a;
  --shadow-outer-primary-xl: inset 0 1px 2px rgb(115, 115, 115) 0 6px 8px #171717,
    0 8px 12px #0a0a0a;
  --shadow-outer-primary-xxl: inset 0 1px 2px rgb(163, 163, 163),
    0 8px 10px #171717,
    0 10px 14px #0a0a0a;
  --shadow-inner-outer-primary-xxl: inset 0 1px 2px rgb(212, 212, 212),
    0 10px 12px #171717,
    0 12px 16px #0a0a0a;
  --shadow-inner-sm: inset 0 0 4px #00000030;
  --shadow-inner-md: inset 0 0 8px #00000040;
  --shadow-inner-lg: inset 0 0 12px #00000050;
  --shadow-inner-xl: inset 0 0 16px #00000070;
  --shadow-inner-xxl: inset 0 0 20px #00000080;
  --shadow-inner-xxxl: inset 0 0 24px #00000090;
  --shadow-inner-4xl: inset 0 0 28px #00000090;
  --shadow-inner-5xl: inset 0 0 32px #00000090;
  --shadow-inner-6xl: inset 0 0 36px #00000090;
  --shadow-inner-7xl: inset 0 0 40px #00000090;
  --shadow-inner-primary-sm: inset 0 0 4px #404040;
  --shadow-inner-primary-md: inset 0 0 8px #525252;
  --shadow-inner-primary-lg: inset 0 0 12px rgb(82, 82, 82);
  --shadow-inner-primary-xl: inset 0 0 16px rgb(115, 115, 115);
  --shadow-inner-primary-xxl: inset 0 0 20px rgb(163, 163, 163);
  --shadow-inner-primary-xxxl: inset 0 0 24px rgb(212, 212, 212);
  --shadow-inner-primary-4xl: inset 0 0 28px rgb(212, 212, 212);
  --shadow-inner-primary-5xl: inset 0 0 32px rgba(212, 212, 212, 0.658);
  --shadow-inner-primary-6xl: inset 0 0 36px rgba(212, 212, 212, 0.438);
}