.shared.component.widget.tabs.controls {
  display: grid;
  gap: 8px;
  width: 100%;
}

.shared.component.widget.tabs.controls.collapsed {
  justify-items: center;
}

.shared.component.widget.tabs.controls.collapsed button {
  width: 44px !important;
  height: 44px !important;
  padding: 0 !important;
  justify-self: center;
}