.service-history-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  min-height: 100vh;
  color: var(--text-color);
  overflow-x: hidden;
}

.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.service-header h1 {
  color: var(--text-color);
  font-size: 34px;
  font-weight: 800;
}

.equipment-info {
  font-size: 24px;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.date-time {
  background-color: var(--bg-card);
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border-primary);
}

.message {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.message.success {
  background-color: rgba(46, 204, 113, 0.1);
  color: var(--normal-color);
  border: 1px solid rgba(46, 204, 113, 0.2);
}

.message.error {
  background-color: rgba(231, 76, 60, 0.1);
  color: var(--urgent-color);
  border: 1px solid rgba(231, 76, 60, 0.2);
}

.form-container {
  background: var(--gradient-primary-900);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.service-history-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  place-items: center;
  align-items: center;
}

form {
  padding: 2rem 0 !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group input:focus,
.form-group select:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
  outline: none;
}

.form-group input::placeholder {
  color: #a0aec0;
}

.full-service-group {
  grid-column: 1/3;
}

.form-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: -10px !important;
  width: 100%;
}

.action-btn-svc {
  padding: 0 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 37px;
}

.action-btn:hover {
  opacity: 0.9;
}

.action-btn.submit {
  background-color: var(--color-primary);
  color: white;
}

.action-btn.reset {
  background-color: var(--urgent-color);
  color: white;
}

.action-btn:disabled {
  background-color: var(--bg-disabled);
  color: var(--text-disabled);
  cursor: not-allowed;
}

/* Responsive design */
@media (max-width: 768px) {
  .service-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .date-time {
    width: 100%;
  }

  .service-history-form {
    grid-template-columns: 1fr;
  }

  .form-actions {
    grid-column: 1;
    justify-content: center;
  }
}