.lpo-cat-btn {
    display: flex;
    justify-content: space-between;
}

.add-lpos {
    display: flex;
    gap: 1rem;
}

.view-lpos {
    display: flex;
    gap: 1rem;
}

.equipment-table-container {
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--border-primary);
}


.equipment-table tbody tr:nth-child(odd) {
  background-color: var(--gradient-primary-500) !important;
}

.equipment-table tbody tr:nth-child(even) {
  background: var(--gradient-primary-400) !important;
}

.equipment-table {
    border: none;
}