.shared.widget.modal.card.type-otp {
    min-height: 390px;
    min-width: 640px;
    height: auto;
}

@media (max-width: 900px) {
    .shared.widget.modal.card.type-otp {
        min-width: 95vw;
    }
}

@media (max-width: 900px) {
    .shared.widget.modal.card.type-otp .shared.widget.modal.cell-input {
        width: 40px;
        height: 50px;
        font-size: 1.1rem;
    }
    .shared.widget.modal.card.type-otp .shared.widget.modal.cell-input-group {
        gap: 6px;
    }
}
